<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UTTT.Ejemplo.Linq.Data.Properties.Settings.PersonaConnectionString"
            connectionString="Data Source=DESKTOP-0P041TN\SQLEXPRESS;Initial Catalog=Persona;Integrated Security=True;Persist Security Info=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
